version: "3.8"

services:
  app:
    image: n8nio/n8n:latest
    restart: unless-stopped
    environment:
      - N8N_HOST
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_PORT=443
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${N8N_HOST}/
      - GENERIC_TIMEZONE=Europe/Berlin
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8n
      - N8N_RUNNERS_ENABLED=true
      - N8N_DEFAULT_BINARY_DATA_MODE=filesystem
      - N8N_RUNNERS_MODE=external
      - N8N_RUNNERS_AUTH_TOKEN=n8n
      - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=true
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
      - N8N_SKIP_AUTH_ON_OAUTH_CALLBACK=false
      - N8N_PROXY_HOPS=1
    volumes:
      - app_data:/home/node/.n8n
    networks:
      proxy_apps:
      app_db:
      app_runner:
    depends_on:
      - db

  runner:
    image: n8nio/runners:latest
    restart: unless-stopped
    environment:
      - N8N_RUNNERS_TASK_BROKER_URI=http://app:5679
      - N8N_RUNNERS_AUTH_TOKEN=n8n
    volumes:
      - app_data:/home/node/.n8n
    networks:
      app_runner:
    depends_on:
      - app

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=n8n
      - POSTGRES_PASSWORD=n8n
      - POSTGRES_DB=n8n
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      app_db:
    labels:
      - ofelia.restart=true
      - ofelia.enabled=true
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.schedule=0 0 1 * * *"
      - "ofelia.job-exec.${COMPOSE_PROJECT_NAME}dbbackup.command=sh -c 'pg_dumpall -U n8n -f /var/lib/postgresql/data/backup.sql'"

volumes:
  app_data:
  db_data:

networks:
  app_db:
  app_runner:
  proxy_apps:
    name: proxy_apps
    external: true
